<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wooyun.esnb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.App"
        android:allowBackup="true"
        android:icon="@drawable/icon_t"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_t"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning"
        tools:replace="android:allowBackup"
        tools:targetApi="m">
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.KyActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity
            android:name=".activity.WelcomeActivity"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ShowActivity"
            android:label="@string/Active_page1"
            tools:ignore="InnerclassSeparator" />
    </application>

</manifest>